@page "/"
@inject NavigationManager Navigation

<PageTitle>Whats Bigger?</PageTitle>

<div>
	<div class="row mb-4">
		<div class="col text-center">
			<img src=/whatsbigger.png />
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h2><span class="material-symbols-outlined">apartment</span> Cities</h2>
			<hr />
		</div>
		<div class="col d-flex flex-column justify-content-between">
			<div>
				<h3><img src="/images/icons8-united-kingdom-48.png" /> UK</h3>
				<p>Top 50 cities from the UK</p>
			</div>
			<div>
				<button class="btn btn-primary" @onclick="@(e => Navigation.NavigateTo("cities/uk"))">Play</button>
			</div>
		</div>
		<div class="col d-flex flex-column justify-content-between">
			<div>
				<h3><img src="/images/icons8-united-states-48.png" /> USA</h3>
				<p>Top 50 cities from the USA</p>
			</div>
			<div>
				<button class="btn btn-primary" @onclick="@(e => Navigation.NavigateTo("cities/usa"))">Play</button>
			</div>
		</div>
		<div class="col d-flex flex-column justify-content-between">
			<div>
				<h3><img src="/images/icons8-globe-48.png" /> Global</h3>
				<p>Top 2 cities from every country in the world</p>
			</div>
			<div>
				<button class="btn btn-primary" @onclick="@(e => Navigation.NavigateTo("cities/global"))">Play</button>
			</div>
		</div>
	</div>
</div>